{% extends "base.html" %}
 
{% block title %}Add New Students{% endblock title %}
 
{% block content %}
<div class="col-md-12">
    <h4>Student Registration Portal</h4>  
 <form method="POST" class="post-form" action="/update/{{student.id}}">  
   {% csrf_token %}  
  <div class="container">  
 <br>  
<div class="form-group row">  
<label class="col-sm-1 col-form-label"></label>  
<div class="col-sm-4">  
<h3>Update Details</h3>  
</div>  
</div>

<div class="form-group row">  
<label class="col-sm-2 col-form-label">Student Id:</label>  
<div class="col-sm-4">  
<input type="text" class="form-control" name="id" id="id_id" required maxlength="20" value="{{ student.id }}"/>  
</div>  
</div>  

<div class="form-group row">  
<label class="col-sm-2 col-form-label">Student Name:</label>  
<div class="col-sm-4">  
<input type="text" class="form-control" name="name" id="id_name" required maxlength="100" value="{{ student.student_name }}" />  
</div>  
</div>  

<div class="form-group row">  
<label class="col-sm-2 col-form-label">Student DOB:</label>  
<div class="col-sm-4">  
    <input type="text" class="form-control" name="dob" id="id_dob" required maxlength="100" value="{{ student.student_dob }}" />  
</div>  
</div>

<div class="form-group row">  
<label class="col-sm-2 col-form-label">Student Gender:</label>  
<div class="col-sm-4">  
    <input type="text" class="form-control" name="gender" id="id_gender" required maxlength="100" value="{{ student.student_gender }}" />  
</div>  
</div> 

<div class="form-group row">  
<label class="col-sm-2 col-form-label">Student Address:</label>  
<div class="col-sm-4">  
    <input type="text" class="form-control" name="address" id="id_address" required maxlength="100" value="{{ student.student_address }}" />  
</div>  
</div>          

<div class="form-group row">  
<label class="col-sm-2 col-form-label">Student Email:</label>  
<div class="col-sm-4">  
<input type="email" class="form-control" name="email" id="id_email" required maxlength="254" value="{{ student.student_email }}" />  
</div>  
</div>  

<div class="form-group row">  
<label class="col-sm-2 col-form-label">Student Phone:</label>  
<div class="col-sm-4">  
<input type="text" class="form-control" name="phone" id="id_phone" required maxlength="15" value="{{ student.student_phone }}" />  
</div>  
</div>  

<div class="form-group row">  
<label class="col-sm-1 col-form-label"></label>  
<div class="col-sm-4">  
<button type="submit" class="btn btn-success btn-lg">Update</button>  
</div>  
</div>  
</div>  
</form>  
{% endblock content %}  